<div>
  <h3>Groups</h3>
  <ul>
    <li *ngFor="let group of groups" (click)="selectGroup(group.id)">
      {{ group.name }}
      <button (click)="joinGroup(group.id)">Join Group</button>
      <button *ngIf="group.createdBy === username" (click)="deleteGroup()">Delete Group</button>
    </li>
  </ul>

  <h3 *ngIf="channels.length">Channels in Selected Group</h3>
  <ul>
    <li *ngFor="let channel of channels">
      {{ channel.name }} 
      <button (click)="joinChannel(channel.channelId)">Join</button>
      <button *ngIf="selectedGroup.createdBy === username" (click)="deleteChannel(channel.channelId)">Delete Channel</button>
    </li>
  </ul>
</div>

<div *ngIf="selectedGroup">
  <!-- Chat UI -->
  <h3>Group Chat - {{ selectedGroup.name }}</h3>
  <form>
    <div class="form-group">
      <label for="messageContent">New Message</label>
      <input type="text" [(ngModel)]="messageContent" name="messageContent" id="messageContent" class="form-control" />
    </div>
    <div class="form-group">
      <button (click)="chat()" class="btn btn-primary">Send</button>
    </div>
  </form>
  <ul>
    <li *ngFor="let m of messages">{{ m }}</li>
  </ul>
</div>

<!-- Form for creating new channels, visible only to the creator -->
<div *ngIf="selectedGroup?.createdBy === username">
  <h3>Create New Channel</h3>
  <div>
    <label for="channelName">Channel Name:</label>
    <input type="text" id="channelName" [(ngModel)]="newChannelName" name="channelName" required>
    <label for="channelDescription">Description:</label>
    <input type="text" id="channelDescription" [(ngModel)]="newChannelDescription" name="channelDescription">
    <button (click)="createChannel()">Create Channel</button>
  </div>
</div>

<!-- Form for creating new groups, visible based on role -->
<div *ngIf="!userRole.includes('chat-user')">
  <h3>Create New Group</h3>
  <form (ngSubmit)="createGroup()">
    <label for="groupName">Group Name:</label>
    <input type="text" id="groupName" [(ngModel)]="newGroupName" name="groupName" required>
    
    <label for="groupDescription">Description:</label>
    <input type="text" id="groupDescription" [(ngModel)]="newGroupDescription" name="groupDescription">
    
    <button type="submit">Create Group</button>
  </form>
</div>
